li {
    list-style-type: none;
    display: inline-block;
    width: 32%;
    height: 80px;
    text-align: center;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 4px;
}
 
body {
    font-family: 'Raleway', sans-serif, gulim;
}
.highlight {
    background-color: yellow;
}